extends layout

block content
  h1= title

     p The MobileStore was launched on 22 March 2006 in Bangladesh, incorporated under The Companies Act, 1956. It has its registered office at 11 RN Road Jessore. MobileStore sells mobile phones of domestic and international brands like Apple, BlackBerry, HTC, Karbonn Mobiles, Micromax, Motorola, Spice, Samsung, Sony, VIVO, OPPO and Vodafone. It also provides online mobile and DTH credit recharge through its website.